body{
    background-image: url("../../assets/images/qbkls.png");
    background-size: contain;
}
nav {
    top: 0;
    width: auto;
    background-color: white;
    overflow: visible;
    width: 100%;
    top: 0;
    display: flex;
    border-bottom: #cccccc;
    justify-content: center;
    margin-bottom: 30px;
}
.nav-links {
    display: flex;
    justify-content: center;
    margin-left: 540px;
    margin-top: 10px;

}
.nav-links a {
    text-decoration: none;
}
.nav-links li + li {
    content: " | ";
    color: black;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float:right;
    padding: 14px 16px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.logo {
    display: block;
    float: left;
    background-color: #4aaaa5;
    
}
.logo h1 {
    color: #ffffff;
}
.about-container {
    width: 960px;
    border: 1px solid #dddddd;
    background: #ffffff;
    margin: 0 auto;
    justify-content: center;

    
}
.about-container h1{
    margin-left: 30px;
    color: #4baead;
}
.about-container p {
    margin: 10px 30px 10px 30px;
}
.about-image{
    margin-left: 30px;
    margin-top: 20px;
}
.about-image img{
    width: 25%;
    height: auto;
}
footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    margin-top: 30px;
}

.foot p{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    font-size: 10px;
    bottom: 0;
}
hr{
    width:900px;
}