
body{
    height: auto;
    background-image: url("../../assets/images/qbkls.png");
    background-size: contain;
    min-height: 100% ;
}
.background{
    display: relative;
    height: 100%;
}
/* nav bar */
nav {
    top: 0;
    width: auto;
    background-color: white;
    overflow: visible;
    width: 100%;
    top: 0;
    display: flex;
    border-bottom: #cccccc;
    justify-content: center;
    margin-bottom: 30px;
}
.nav-links {
    display: flex;
    justify-content: center;
    margin-left: 450px;
    margin-top: 20px;

}
.nav-links a {
    color: #666666;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float:right;
    text-decoration: none;
    padding: 14px 16px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.logo {
    display: block;
    float: left;
    height: 100%;
    width:310px;
    margin-top:0px;
    margin-right: -72.5px;
    padding-bottom:15px;
    padding-left: 15px;
    background-color: #4aaaa5;
    
}
.logo h1 {
    color: #ffffff;
    padding-top:10px;
    font-size: 40px;
    justify-content: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
/* Body Container */
.container {
    width: 960px;
    border: 1px solid #dddddd;
    background: #ffffff;
    margin: 0 auto;
    justify-content: center;

    
}
.container h1{
    margin-top: 20px;
    margin-left: 30px;
    color: #4baead;
    font-size: 40px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.container p {
    display: inline-block;
    margin: 10px 30px 10px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    text-indent: 40px;
}

.about-image{
    margin-left: 30px;
    margin-top: 20px;
}
.about-image img{
    width: 25%;
    height: auto;
}
#line-break{
    margin-top:15px;
    color: #777777;
}
/* Footer */
footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.foot p{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    font-size: 10px;
    bottom: 0px;
}
hr{
    width:900px;
}
/* --------------- CONTACT ---------------*/
#contact-form{
    display: relative;
    margin-left: 30px;
    margin-top: 25px;
    color: #777777;
}

input[type=text]{
    outline: none !important;
    border: 1px solid #dddddd;
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}
input[type=email]{
    outline: none !important;
    border: 1px solid #dddddd;
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}
textarea{
    outline: none !important;
    border: 1px solid #dddddd;
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


#contact-button {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 15px;
    
}

/* --------------- PORTFOLIO ---------------*/

